.header-image{
    height: 10em;
    width: 10em;
}

.panel-header{
    display: flex;
    justify-content: left;
}

.panel-header > p {
    padding-right: 1em;
    width: 10em;
}

.container{
    margin-top: 2em;
}

.service-status{
    border-top-style: solid;
    border-top-color: blue;
    border-top-width: .05em;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 2em;
    font-weight: bold;
    margin-top: 2em;
}
