<div class="container" *ngIf="displayValues; else elseBlock">
  <div class = "row">
    <div class="col-sm">
      <div class="row">
        <span class="heading">Location:</span><span>{{weatherDisplay.currentLocation}}</span>
      </div>
      <div class="row">
          <span class="heading">Temp:</span><span>{{weatherDisplay.currentTemperature}}°</span>
      </div>
      <div class="row">
          <span class="heading">Lattitude</span><span>{{weatherDisplay.latitude}}</span>
      </div>
      <div class="row">
          <span class="heading">Longitude</span><span>{{weatherDisplay.longitude}}</span>
      </div>
      <div class="row">
          <span class="heading">Condition:</span><span>{{weatherDisplay.currentCondition}}</span>
      </div>
      <div class="row">
          <span class="heading">Station:</span><span>{{weatherDisplay.radarStation}}</span>
      </div>
      <div class="row">
          <span class="heading">Reading as of:</span><span>{{weatherDisplay.readingTime}}</span>
      </div>
    </div>
    <div class="col-sm icon">
      <img src={{weatherDisplay.icon}}>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>