<div class="container" *ngIf="displayValues; else elseBlock">
  <div class = "row">
    <div class="col-sm">
      <div class="row">
        <span class="display-heading">Location:</span><span class="display-value">{{weatherDisplay.currentLocation}}</span>
      </div>
      <div class="row">
          <span class="display-heading">Temp:</span><span class="display-value">{{weatherDisplay.currentTemperature}}°</span>
      </div>
      <div class="row">
          <span class="display-heading">Lattitude</span><span class="display-value">{{weatherDisplay.latitude}}</span>
      </div>
      <div class="row">
          <span class="display-heading">Longitude</span><span class="display-value">{{weatherDisplay.longitude}}</span>
      </div>
      <div class="row">
          <span class="display-heading">Radar Station:</span><span class="display-value">{{weatherDisplay.radarStation}}</span>
      </div>
      <div class="row">
          <span class="display-heading">Reading Time:</span><span class="display-value">{{weatherDisplay.readingTime}}</span>
      </div>
      <div class="row condition">
        <span class="display-heading">{{weatherDisplay.currentCondition}}</span>
        <img src={{weatherDisplay.icon}}>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>