<div class="container" *ngIf="displayValues; else elseBlock">
  <div class = "row">
    <div class="col-sm">
      <div class="row">
        <span>Location: {{weatherDisplay.currentLocation}}</span>
      </div>
      <div class="row">
        <span>Temp: {{weatherDisplay.currentTemperature}}°</span>
      </div>
      <div class="row">
        <span>Lattitude: {{weatherDisplay.latitude}}</span>
      </div>
      <div class="row">
        <span>Longitude: {{weatherDisplay.longitude}}</span>
      </div>
    </div>
    <div class="col-sm icon">
      <img src={{weatherDisplay.icon}}>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>